# Obtenção dos dados

In [607]:
# Importando Pandas para manipulação de dados
import pandas as pd

In [608]:
# Importando os dados
dados = pd.read_csv('consulta_cand_2020_PA.csv', sep = ';', encoding = 'utf-8', )
dados

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,DS_SIT_TOT_TURNO,ST_REELEICAO,ST_DECLARAR_BENS,NR_PROTOCOLO_CANDIDATURA,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,DS_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA
0,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,SUPLENTE,N,S,-1,6000284620206140089,2,DEFERIDO,2,DEFERIDO,SIM
1,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6002679220206140075,2,DEFERIDO,2,DEFERIDO,SIM
2,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,SUPLENTE,N,S,-1,6002174420206140050,2,DEFERIDO,2,DEFERIDO,SIM
3,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,NÃO ELEITO,N,S,-1,6001331620206140059,2,DEFERIDO,2,DEFERIDO,SIM
4,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6003490320206140018,-1,#NULO#,-1,#NULO#,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23629,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6001937220206140096,-1,#NULO#,-1,#NULO#,NÃO
23630,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,#NULO#,N,S,-1,6007855520206140084,17,PENDENTE DE JULGAMENTO,17,PENDENTE DE JULGAMENTO,SIM
23631,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,SUPLENTE,N,S,-1,6001026220206140037,2,DEFERIDO,2,DEFERIDO,SIM
23632,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,NÃO ELEITO,N,S,-1,6002061420206140018,2,DEFERIDO,2,DEFERIDO,SIM
23633,16/05/2021,19:18:30,2020,2,ELEIÇÃO ORDINÁRIA,1,426,Eleições Municipais 2020,15/11/2020,MUNICIPAL,...,NÃO ELEITO,N,N,-1,6001381220206140003,2,DEFERIDO,2,DEFERIDO,SIM

In [609]:
# Excluindo Colunas que não serão usadas

dados = dados.drop('DT_GERACAO', axis=1)
dados.head()
dados = dados.drop('HH_GERACAO', axis=1)
dados.head()
dados = dados.drop('CD_TIPO_ELEICAO', axis=1)
dados.head()
dados = dados.drop('NM_TIPO_ELEICAO', axis=1)
dados.head()
dados = dados.drop('CD_ELEICAO', axis=1)
dados.head()
dados = dados.drop('NR_PROTOCOLO_CANDIDATURA', axis=1)
dados.head()
dados = dados.drop('NR_PROCESSO', axis=1)
dados.head()
dados = dados.drop('CD_SITUACAO_CANDIDATO_PLEITO', axis=1)
dados.head()
dados = dados.drop('CD_SITUACAO_CANDIDATO_URNA', axis=1)
dados.head()
dados = dados.drop('CD_CARGO', axis=1)
dados.head()
dados = dados.drop('SG_UE', axis=1)
dados.head()
dados = dados.drop('CD_OCUPACAO', axis=1)
dados.head()
dados = dados.drop('SQ_CANDIDATO', axis=1)
dados.head()
dados = dados.drop('CD_SIT_TOT_TURNO', axis=1)
dados.head()
dados = dados.drop('CD_COR_RACA', axis=1)
dados.head()
dados = dados.drop('NM_SOCIAL_CANDIDATO', axis=1)
dados.head()
dados = dados.drop('NR_CPF_CANDIDATO', axis=1)
dados.head()
dados = dados.drop('NM_EMAIL', axis=1)
dados.head()
dados = dados.drop('CD_SITUACAO_CANDIDATURA', axis=1)
dados.head()
dados = dados.drop('DS_SITUACAO_CANDIDATURA', axis=1)
dados.head()
dados = dados.drop('CD_DETALHE_SITUACAO_CAND', axis=1)
dados.head()
dados = dados.drop('DS_DETALHE_SITUACAO_CAND', axis=1)
dados.head()
dados = dados.drop('NR_PARTIDO', axis=1)
dados.head()
dados = dados.drop('NM_PARTIDO', axis=1)
dados.head()
dados = dados.drop('NM_COLIGACAO', axis=1)
dados.head()
dados = dados.drop('DS_COMPOSICAO_COLIGACAO', axis=1)
dados.head()
dados = dados.drop('CD_NACIONALIDADE', axis=1)
dados.head()
dados = dados.drop('DS_NACIONALIDADE', axis=1)
dados.head()
dados = dados.drop('CD_MUNICIPIO_NASCIMENTO', axis=1)
dados.head()
dados = dados.drop('DT_NASCIMENTO', axis=1)
dados.head()
dados = dados.drop('NR_TITULO_ELEITORAL_CANDIDATO', axis=1)
dados.head()
dados = dados.drop('CD_GENERO', axis=1)
dados.head()
dados = dados.drop('CD_GRAU_INSTRUCAO', axis=1)
dados.head()
dados = dados.drop('ANO_ELEICAO', axis=1)
dados.head()
dados = dados.drop('DS_ELEICAO', axis=1)
dados.head()
dados = dados.drop('DT_ELEICAO', axis=1)
dados.head()
dados = dados.drop('TP_ABRANGENCIA', axis=1)
dados.head()
dados = dados.drop('SG_UF', axis=1)
dados.head()
dados = dados.drop('NR_TURNO', axis=1)
dados.head()
dados = dados.drop('DS_SIT_TOT_TURNO', axis=1)
dados.head()
dados = dados.drop('DS_SITUACAO_CANDIDATO_PLEITO', axis=1)
dados.head()
dados = dados.drop('DS_SITUACAO_CANDIDATO_URNA', axis=1)
dados.head()
dados = dados.drop('SQ_COLIGACAO', axis=1)
dados.head()
dados = dados.drop('CD_ESTADO_CIVIL', axis=1)
dados

,NM_UE,DS_CARGO,NR_CANDIDATO,NM_CANDIDATO,NM_URNA_CANDIDATO,TP_AGREMIACAO,SG_PARTIDO,SG_UF_NASCIMENTO,NM_MUNICIPIO_NASCIMENTO,NR_IDADE_DATA_POSSE,DS_GENERO,DS_GRAU_INSTRUCAO,DS_ESTADO_CIVIL,DS_COR_RACA,DS_OCUPACAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,ST_DECLARAR_BENS,ST_CANDIDATO_INSERIDO_URNA
0,FARO,VEREADOR,15970,JOSÉ ROBRIVALDO DOS SANTOS COSTA,LINDO,PARTIDO ISOLADO,MDB,PA,FARO,50,MASCULINO,ENSINO MÉDIO INCOMPLETO,SOLTEIRO(A),PARDA,AGRICULTOR,12307.75,N,S,SIM
1,CANAÃ DOS CARAJÁS,VEREADOR,19007,MAGNO CÉSAR MACHADO SILVA,MAGNO SANTA VITÓRIA,PARTIDO ISOLADO,PODE,MA,AMARANTE DO MARANHÃO,48,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,CASADO(A),BRANCA,OUTROS,87466.10,N,S,SIM
2,CASTANHAL,VEREADOR,55000,ALEXANDRO RIBEIRO MOTA,ALEX MOTA,PARTIDO ISOLADO,PSD,PA,CASTANHAL,35,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,EMPRESÁRIO,53698.78,N,S,SIM
3,PAU D'ARCO,VEREADOR,13444,MANOEL GOMES PEREIRA,MANOEL DA SANTA LÚCIA,PARTIDO ISOLADO,PT,PA,REDENÇÃO,37,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,CASADO(A),PARDA,AGRICULTOR,12307.75,N,S,SIM
4,BRASIL NOVO,VEREADOR,15171,JAQUELINE SANTOS DE FRANCA,KELLY,PARTIDO ISOLADO,MDB,PA,ALTAMIRA,32,FEMININO,ENSINO MÉDIO INCOMPLETO,SOLTEIRO(A),PARDA,AGRICULTOR,20532.13,N,S,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23629,BELÉM,VEREADOR,90789,ANDREIA DOS SANTOS PINHEIRO,NINA LUZ,PARTIDO ISOLADO,PROS,PA,BELÉM,38,FEMININO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PRETA,OUTROS,438043.03,N,S,NÃO
23630,ULIANÓPOLIS,VICE-PREFEITO,55,CLENILTON SILVA OLIVEIRA,CLENILTON,COLIGAÇÃO,PSC,MA,JOÃO LISBOA,42,MASCULINO,SUPERIOR COMPLETO,CASADO(A),BRANCA,OUTROS,-1.00,N,S,SIM
23631,MOJU,VEREADOR,13111,ARMANDO SILVA BARROS,ARMANDO DO MEL,PARTIDO ISOLADO,PT,PA,MOJU,46,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,SOLTEIRO(A),PARDA,PRODUTOR AGROPECUÁRIO,12307.75,N,S,SIM
23632,VITÓRIA DO XINGU,VEREADOR,10444,ADAILANE ROCHA XAVIER DE OLIVEIRA MACEDO,ADAILANE ROCHA,PARTIDO ISOLADO,REPUBLICANOS,PA,ALTAMIRA,23,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),BRANCA,TÉCNICO DE ENFERMAGEM E ASSEMELHADOS (EXCETO E...,19181.16,N,S,SIM
23633,SALVATERRA,VEREADOR,11971,EDINELSA DOS SANTOS REIS,IRMÃ NELZA,PARTIDO ISOLADO,PP,PA,SALVATERRA,49,FEMININO,ENSINO MÉDIO INCOMPLETO,SOLTEIRO(A),PRETA,PESCADOR,12307.75,N,N,SIM

In [610]:
# Remover Nomes de Candidatos duplicados

dados = dados.sort_values('NM_CANDIDATO', ascending=False)
dados = dados.drop_duplicates(subset='NM_CANDIDATO', keep='first')
dados

,NM_UE,DS_CARGO,NR_CANDIDATO,NM_CANDIDATO,NM_URNA_CANDIDATO,TP_AGREMIACAO,SG_PARTIDO,SG_UF_NASCIMENTO,NM_MUNICIPIO_NASCIMENTO,NR_IDADE_DATA_POSSE,DS_GENERO,DS_GRAU_INSTRUCAO,DS_ESTADO_CIVIL,DS_COR_RACA,DS_OCUPACAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,ST_DECLARAR_BENS,ST_CANDIDATO_INSERIDO_URNA
8504,TERRA ALTA,VICE-PREFEITO,20,ÓSIO DE JESUS DE SOUSA SAMPAIO,ÓSIO SAMPAIO,COLIGAÇÃO,PSC,PA,CURUÇÁ,63,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,AGRICULTOR,-1.00,N,S,SIM
7627,IGARAPÉ-AÇU,VEREADOR,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,DR ÍTALO MAGALHÃES,PARTIDO ISOLADO,PSDB,PA,IGARAPÉ-AÇU,39,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,ADVOGADO,25592.36,N,S,SIM
18722,CASTANHAL,VICE-PREFEITO,15,ÊNIO SERGIO MONTEIRO EVANGELISTA,ÊNIO MONTEIRO,COLIGAÇÃO,PSB,PA,CASTANHAL,47,MASCULINO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,POLICIAL MILITAR,-1.00,N,S,SIM
18120,ABAETETUBA,PREFEITO,12,ÉVERSON CARLOS QUARESMA DA SILVA,EVERSON CARLOS,COLIGAÇÃO,PDT,PA,ABAETETUBA,31,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,GERENTE,262823.80,N,S,SIM
16482,JURUTI,VEREADOR,43741,ÉRICA MARIA PANTOJA DE SOUZA,ÉRICA PANTOJA,PARTIDO ISOLADO,PV,AM,MANAUS,33,FEMININO,SUPERIOR COMPLETO,SOLTEIRO(A),PARDA,OUTROS,49904.20,N,S,SIM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22077,PARAUAPEBAS,VEREADOR,50007,ABDORAL DOS SANTOS,ABDORAL DO FREI HENRY,PARTIDO ISOLADO,PSOL,MA,IMPERATRIZ,60,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,DIVORCIADO(A),BRANCA,AGRICULTOR,211925.15,N,S,SIM
13919,JURUTI,VEREADOR,20200,ABDON BRITO PEREIRA NETO,PROFESSOR ABDON,PARTIDO ISOLADO,PSC,PA,JURUTI,48,MASCULINO,SUPERIOR COMPLETO,CASADO(A),BRANCA,PROFESSOR DE ENSINO SUPERIOR,49904.20,N,N,SIM
21097,SÃO FÉLIX DO XINGU,VEREADOR,13603,ABDIEL PEREIRA QUEIROZ,ABDIEL,PARTIDO ISOLADO,PT,TO,ITACAJÁ,66,MASCULINO,LÊ E ESCREVE,SOLTEIRO(A),BRANCA,AGRICULTOR,53959.13,N,S,NÃO
17713,TAILÂNDIA,VEREADOR,13555,ABDIEL FRANCISCO DE LIMA,BIBIU LIMA,PARTIDO ISOLADO,PT,PA,TAILÂNDIA,53,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,CASADO(A),PRETA,AGRICULTOR,20238.90,N,S,SIM
7068,OEIRAS DO PARÁ,VEREADOR,12369,ABDIEL BALIEIRO BARBOSA,ABDIEL BARBOSA,PARTIDO ISOLADO,PDT,PA,OEIRAS DO PARÁ,36,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,AGRICULTOR,42582.54,N,S,SIM

In [611]:
# Verificando Registros da Variável Cargo

dados[['DS_CARGO','VR_DESPESA_MAX_CAMPANHA']].groupby(['DS_CARGO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

        DS_CARGO  VR_DESPESA_MAX_CAMPANHA
1       VEREADOR             1.330140e+09
0       PREFEITO             2.525192e+08
2  VICE-PREFEITO            -6.720000e+02

In [612]:
# Queremos trabalhar somente com Vereador

# Excluindo Registros que contém 'VICE-PREFEITO' e 'PREFEITO' da variável 'Cargo'

dados.drop(dados.loc[dados['DS_CARGO']=='VICE-PREFEITO'].index, inplace=True)
dados[['DS_CARGO','VR_DESPESA_MAX_CAMPANHA']].groupby(['DS_CARGO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

dados.drop(dados.loc[dados['DS_CARGO']=='PREFEITO'].index, inplace=True)
dados[['DS_CARGO','VR_DESPESA_MAX_CAMPANHA']].groupby(['DS_CARGO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

   DS_CARGO  VR_DESPESA_MAX_CAMPANHA
0  VEREADOR             1.330140e+09

In [613]:
# Verificando registros de outras variáveis

In [614]:
dados[['NM_UE','VR_DESPESA_MAX_CAMPANHA']].groupby(['NM_UE'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 144 municípios ok

                        NM_UE  VR_DESPESA_MAX_CAMPANHA
18                      BELÉM             4.730865e+08
87                PARAUAPEBAS             8.985626e+07
63                     MARABÁ             8.257640e+07
8                  ANANINDEUA             7.546247e+07
111                  SANTARÉM             4.061416e+07
..                        ...                      ...
39            CUMARU DO NORTE             7.507728e+05
24   BREJO GRANDE DO ARAGUAIA             6.646185e+05
89                  PEIXE-BOI             6.646185e+05
85          PALESTINA DO PARÁ             6.038889e+05
77             NOVA TIMBOTEUA             5.907720e+05

[144 rows x 2 columns]

In [615]:
dados[['NM_CANDIDATO','VR_DESPESA_MAX_CAMPANHA']].groupby(['NM_CANDIDATO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 22841 candidatos

                             NM_CANDIDATO  VR_DESPESA_MAX_CAMPANHA
4150        CRUZMALTINO MORAES DE SANTANA                438043.03
8952         IAN CESAR RODRIGUES DA SILVA                438043.03
3165         CARLOS DIOGO MACEDO DA SILVA                438043.03
17245              OSEIAS CHAGAS DA SILVA                438043.03
19302  RONISON ROGERIO SOZINHO PARAGUASSU                438043.03
...                                   ...                      ...
15181          MARIA ELENICE SEABRA SILVA                 12307.75
15177     MARIA ELCILENE SANTOS DE AQUINO                 12307.75
15176         MARIA ELANE DA SILVA FARIAS                 12307.75
4360             DARIZO FERNANDES PEREIRA                 12307.75
15335          MARIA JACILENE DE OLIVEIRA                 12307.75

[22179 rows x 2 columns]

In [616]:
dados[['TP_AGREMIACAO','VR_DESPESA_MAX_CAMPANHA']].groupby(['TP_AGREMIACAO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 2 tipos de agremiacao = partido isolado e coligação

     TP_AGREMIACAO  VR_DESPESA_MAX_CAMPANHA
0  PARTIDO ISOLADO             1.330140e+09

In [617]:
dados[['SG_PARTIDO','VR_DESPESA_MAX_CAMPANHA']].groupby(['SG_PARTIDO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 31 partidos politicos

       SG_PARTIDO  VR_DESPESA_MAX_CAMPANHA
4             MDB              90347798.66
28   REPUBLICANOS              77276125.56
9              PL              75102739.86
17            PSC              74618369.08
23             PT              72216900.32
19           PSDB              68376306.91
8             PDT              63612149.36
18            PSD              63050716.01
16            PSB              59803150.97
3             DEM              55804636.59
12           PODE              49744977.74
1       CIDADANIA              49000665.01
6        PATRIOTA              48159637.18
29  SOLIDARIEDADE              46503814.59
24            PTB              44793393.68
14           PROS              43894619.14
13             PP              42293648.62
0          AVANTE              40458316.08
21           PSOL              37538654.92
25            PTC              36333907.38
20            PSL              35478426.56
7         PC do B              34874977.64
15           PRTB              34692389.20
26             PV              33367574.60
2              DC              19491681.95
10            PMB              15859843.22
27           REDE               6430734.09
11            PMN               6195856.16
5            NOVO               3504344.24
30             UP                876086.06
22           PSTU                438043.03

In [618]:
dados[['SG_UF_NASCIMENTO','VR_DESPESA_MAX_CAMPANHA']].groupby(['SG_UF_NASCIMENTO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 27 Uf de nascimento e zz = estrangeiro

   SG_UF_NASCIMENTO  VR_DESPESA_MAX_CAMPANHA
13               PA             1.031616e+09
9                MA             1.183419e+08
26               TO             3.105835e+07
8                GO             2.244254e+07
5                CE             1.540997e+07
4                BA             1.444614e+07
16               PI             1.311023e+07
10               MG             1.265505e+07
17               PR             8.830650e+06
25               SP             8.290697e+06
2                AM             7.005981e+06
18               RJ             6.856811e+06
3                AP             6.186419e+06
15               PE             6.121858e+06
7                ES             5.449078e+06
14               PB             4.091560e+06
12               MT             3.604539e+06
22               RS             2.527551e+06
23               SC             2.483070e+06
20               RO             1.871863e+06
19               RN             1.716226e+06
11               MS             1.592797e+06
6                DF             1.523022e+06
24               SE             1.226064e+06
1                AL             9.629640e+05
0                AC             3.940342e+05
21               RR             3.124510e+05
27               ZZ             1.230775e+04

In [619]:
dados[['NM_MUNICIPIO_NASCIMENTO','VR_DESPESA_MAX_CAMPANHA']].groupby(['NM_MUNICIPIO_NASCIMENTO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 1324 municipios de nascimento

     NM_MUNICIPIO_NASCIMENTO  VR_DESPESA_MAX_CAMPANHA
136                    BELÉM             4.675427e+08
674                   MARABÁ             4.760195e+07
1032                SANTARÉM             4.312034e+07
260                CASTANHAL             2.037389e+07
1                 ABAETETUBA             1.905064e+07
...                      ...                      ...
195                   CAJARI             1.230775e+04
324                 CROMÍNIA             1.230775e+04
660                    MAIRI             1.230775e+04
314        CORUMBATAÍ DO SUL             1.230775e+04
0            ABADIA DE GOIÁS             1.230775e+04

[1287 rows x 2 columns]

In [620]:
dados[['DS_GENERO','VR_DESPESA_MAX_CAMPANHA']].groupby(['DS_GENERO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 2 generos, masculino e feminino

   DS_GENERO  VR_DESPESA_MAX_CAMPANHA
1  MASCULINO             8.856893e+08
0   FEMININO             4.444512e+08

In [621]:
dados[['DS_GRAU_INSTRUCAO','VR_DESPESA_MAX_CAMPANHA']].groupby(['DS_GRAU_INSTRUCAO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 8 graus de instrução

               DS_GRAU_INSTRUCAO  VR_DESPESA_MAX_CAMPANHA
3          ENSINO MÉDIO COMPLETO             5.378315e+08
6              SUPERIOR COMPLETO             3.868560e+08
1    ENSINO FUNDAMENTAL COMPLETO             1.439978e+08
2  ENSINO FUNDAMENTAL INCOMPLETO             1.090209e+08
7            SUPERIOR INCOMPLETO             6.062962e+07
4        ENSINO MÉDIO INCOMPLETO             4.829441e+07
5                   LÊ E ESCREVE             4.336756e+07
0                     ANALFABETO             1.426924e+05

In [622]:
dados[['DS_ESTADO_CIVIL','VR_DESPESA_MAX_CAMPANHA']].groupby(['DS_ESTADO_CIVIL'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 5 estados civil

             DS_ESTADO_CIVIL  VR_DESPESA_MAX_CAMPANHA
3                SOLTEIRO(A)             6.500036e+08
0                  CASADO(A)             5.652506e+08
1              DIVORCIADO(A)             9.122896e+07
4                   VIÚVO(A)             1.823056e+07
2  SEPARADO(A) JUDICIALMENTE             5.426771e+06

In [623]:
dados[['DS_COR_RACA','VR_DESPESA_MAX_CAMPANHA']].groupby(['DS_COR_RACA'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 6 declaração racial

      DS_COR_RACA  VR_DESPESA_MAX_CAMPANHA
3           PARDA             8.537530e+08
1          BRANCA             2.763694e+08
4           PRETA             1.617876e+08
5  SEM INFORMAÇÃO             3.068232e+07
2        INDÍGENA             5.981104e+06
0         AMARELA             1.567046e+06

In [624]:
dados[['DS_OCUPACAO','VR_DESPESA_MAX_CAMPANHA']].groupby(['DS_OCUPACAO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# 192 ocupação

                                       DS_OCUPACAO  VR_DESPESA_MAX_CAMPANHA
123                                         OUTROS             4.129205e+08
64                                      EMPRESÁRIO             6.516897e+07
7                                       AGRICULTOR             6.198779e+07
152                     SERVIDOR PÚBLICO MUNICIPAL             5.909213e+07
44                                     COMERCIANTE             5.469002e+07
..                                             ...                      ...
36               CAPITALISTA DE ATIVOS FINANCEIROS             2.947862e+04
120  OPERADOR DE EQUIPAMENTO MÉDICO E ODONTOLÓGICO             2.909954e+04
39                              CERAMISTA E OLEIRO             1.230775e+04
105                                         MODELO             1.230775e+04
88                                         GEÓLOGO             1.230775e+04

[188 rows x 2 columns]

In [625]:
dados[['ST_REELEICAO','VR_DESPESA_MAX_CAMPANHA']].groupby(['ST_REELEICAO'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# Se é ou não tá se candidatando a reeleição ok

  ST_REELEICAO  VR_DESPESA_MAX_CAMPANHA
0            N             1.297175e+09
1            S             3.296505e+07

In [626]:
dados[['ST_DECLARAR_BENS','VR_DESPESA_MAX_CAMPANHA']].groupby(['ST_DECLARAR_BENS'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# Se declarou ou n declarou bens ok

  ST_DECLARAR_BENS  VR_DESPESA_MAX_CAMPANHA
1                S             1.075082e+09
0                N             2.550582e+08

In [627]:
dados[['ST_CANDIDATO_INSERIDO_URNA','VR_DESPESA_MAX_CAMPANHA']].groupby(['ST_CANDIDATO_INSERIDO_URNA'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

# Se o candidato foi inserido na urna ok

  ST_CANDIDATO_INSERIDO_URNA  VR_DESPESA_MAX_CAMPANHA
1                        SIM             1.286077e+09
0                        NÃO             4.406364e+07

In [628]:
# Excluindo Candidatos que não aparecem nas urnas (indeferido)

dados.drop(dados.loc[dados['ST_CANDIDATO_INSERIDO_URNA']=='NÃO'].index, inplace=True)
dados[['ST_CANDIDATO_INSERIDO_URNA','VR_DESPESA_MAX_CAMPANHA']].groupby(['ST_CANDIDATO_INSERIDO_URNA'], as_index=False).sum().sort_values(by='VR_DESPESA_MAX_CAMPANHA', ascending=False)

  ST_CANDIDATO_INSERIDO_URNA  VR_DESPESA_MAX_CAMPANHA
0                        SIM             1.286077e+09

In [629]:
# Excluindo variável 'ST_CANDIDATO_INSERIDO_URNA' que não é mais necessária

dados = dados.drop('ST_CANDIDATO_INSERIDO_URNA', axis=1)
dados.head()

,NM_UE,DS_CARGO,NR_CANDIDATO,NM_CANDIDATO,NM_URNA_CANDIDATO,TP_AGREMIACAO,SG_PARTIDO,SG_UF_NASCIMENTO,NM_MUNICIPIO_NASCIMENTO,NR_IDADE_DATA_POSSE,DS_GENERO,DS_GRAU_INSTRUCAO,DS_ESTADO_CIVIL,DS_COR_RACA,DS_OCUPACAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,ST_DECLARAR_BENS
7627,IGARAPÉ-AÇU,VEREADOR,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,DR ÍTALO MAGALHÃES,PARTIDO ISOLADO,PSDB,PA,IGARAPÉ-AÇU,39,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,ADVOGADO,25592.36,N,S
16482,JURUTI,VEREADOR,43741,ÉRICA MARIA PANTOJA DE SOUZA,ÉRICA PANTOJA,PARTIDO ISOLADO,PV,AM,MANAUS,33,FEMININO,SUPERIOR COMPLETO,SOLTEIRO(A),PARDA,OUTROS,49904.20,N,S
3742,SOURE,VEREADOR,55555,ÉRICA ELLEN RAMIREZ RAIOL,ÉRICA RAMIREZ,PARTIDO ISOLADO,PSD,PA,SOURE,35,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),BRANCA,PESCADOR,15977.14,N,S
6191,CURIONÓPOLIS,VEREADOR,23555,ÉRICA DE MESQUITA REIS SOUSA,ÉRICA REIS,PARTIDO ISOLADO,CIDADANIA,PA,CURIONÓPOLIS,27,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),BRANCA,OUTROS,25848.36,N,S
6386,SAPUCAIA,VEREADOR,45555,ÉRICA ALVES FELIPE,ÉRICA FELIPE,PARTIDO ISOLADO,PSDB,PA,XINGUARA,27,FEMININO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,SERVIDOR PÚBLICO MUNICIPAL,12307.75,N,S

In [630]:
# Renomeando colunas
dados.columns = ['Municipio', 'Cargo', 'Numero_Candidato','Nome_Completo', 'Nome_Urna', 'Tipo_Agremiacao', 'Partido', 'UF_Nascimento', 'Mun_Nascimento', 'Idade_Posse', 'Genero', 
                'Grau_Instrucao', 'Estado_Civil', 'Declar_Racial', 'Ocupacao', 'Despesas_Max_Partido', 'Reeleicao', 'Declar_Bens', ]
dados

,Municipio,Cargo,Numero_Candidato,Nome_Completo,Nome_Urna,Tipo_Agremiacao,Partido,UF_Nascimento,Mun_Nascimento,Idade_Posse,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Ocupacao,Despesas_Max_Partido,Reeleicao,Declar_Bens
7627,IGARAPÉ-AÇU,VEREADOR,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,DR ÍTALO MAGALHÃES,PARTIDO ISOLADO,PSDB,PA,IGARAPÉ-AÇU,39,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,ADVOGADO,25592.36,N,S
16482,JURUTI,VEREADOR,43741,ÉRICA MARIA PANTOJA DE SOUZA,ÉRICA PANTOJA,PARTIDO ISOLADO,PV,AM,MANAUS,33,FEMININO,SUPERIOR COMPLETO,SOLTEIRO(A),PARDA,OUTROS,49904.20,N,S
3742,SOURE,VEREADOR,55555,ÉRICA ELLEN RAMIREZ RAIOL,ÉRICA RAMIREZ,PARTIDO ISOLADO,PSD,PA,SOURE,35,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),BRANCA,PESCADOR,15977.14,N,S
6191,CURIONÓPOLIS,VEREADOR,23555,ÉRICA DE MESQUITA REIS SOUSA,ÉRICA REIS,PARTIDO ISOLADO,CIDADANIA,PA,CURIONÓPOLIS,27,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),BRANCA,OUTROS,25848.36,N,S
6386,SAPUCAIA,VEREADOR,45555,ÉRICA ALVES FELIPE,ÉRICA FELIPE,PARTIDO ISOLADO,PSDB,PA,XINGUARA,27,FEMININO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,SERVIDOR PÚBLICO MUNICIPAL,12307.75,N,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,MUANÁ,VEREADOR,25678,ABEDIEL PINTO MARQUES,BOLOTA,PARTIDO ISOLADO,DEM,PA,MUANÁ,34,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,COMERCIANTE,12307.75,N,S
22077,PARAUAPEBAS,VEREADOR,50007,ABDORAL DOS SANTOS,ABDORAL DO FREI HENRY,PARTIDO ISOLADO,PSOL,MA,IMPERATRIZ,60,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,DIVORCIADO(A),BRANCA,AGRICULTOR,211925.15,N,S
13919,JURUTI,VEREADOR,20200,ABDON BRITO PEREIRA NETO,PROFESSOR ABDON,PARTIDO ISOLADO,PSC,PA,JURUTI,48,MASCULINO,SUPERIOR COMPLETO,CASADO(A),BRANCA,PROFESSOR DE ENSINO SUPERIOR,49904.20,N,N
17713,TAILÂNDIA,VEREADOR,13555,ABDIEL FRANCISCO DE LIMA,BIBIU LIMA,PARTIDO ISOLADO,PT,PA,TAILÂNDIA,53,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,CASADO(A),PRETA,AGRICULTOR,20238.90,N,S
7068,OEIRAS DO PARÁ,VEREADOR,12369,ABDIEL BALIEIRO BARBOSA,ABDIEL BARBOSA,PARTIDO ISOLADO,PDT,PA,OEIRAS DO PARÁ,36,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,AGRICULTOR,42582.54,N,S

In [631]:
# Salvando dataframe em um arquivo csv

dados.to_csv("dados_limpos.csv", index=False)

# Obtendo dados complementares

In [632]:
# Importando dataset
data = pd.read_csv('votacao_candidato_munzona_2020_PA.csv', sep = ';', encoding = 'utf-8')
data

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,SQ_COLIGACAO,NM_COLIGACAO,DS_COMPOSICAO_COLIGACAO,CD_SIT_TOT_TURNO,DS_SIT_TOT_TURNO,ST_VOTO_EM_TRANSITO,QT_VOTOS_NOMINAIS
0,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,90,PROS,Partido Republicano da Ordem Social,140000123777,PARTIDO ISOLADO,PROS,4,NÃO ELEITO,N,17
1,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,90,PROS,Partido Republicano da Ordem Social,140000123777,PARTIDO ISOLADO,PROS,4,NÃO ELEITO,N,29
2,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,90,PROS,Partido Republicano da Ordem Social,140000123777,PARTIDO ISOLADO,PROS,4,NÃO ELEITO,N,22
3,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,90,PROS,Partido Republicano da Ordem Social,140000123777,PARTIDO ISOLADO,PROS,4,NÃO ELEITO,N,18
4,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,90,PROS,Partido Republicano da Ordem Social,140000123777,PARTIDO ISOLADO,PROS,4,NÃO ELEITO,N,502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30168,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,12,PDT,Partido Democrático Trabalhista,140000057171,PARTIDO ISOLADO,PDT,4,NÃO ELEITO,N,97
30169,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,90,PROS,Partido Republicano da Ordem Social,140000111777,PARTIDO ISOLADO,PROS,4,NÃO ELEITO,N,8
30170,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,33,PMN,Partido da Mobilização Nacional,140000075890,PARTIDO ISOLADO,PMN,4,NÃO ELEITO,N,18
30171,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,55,PSD,Partido Social Democrático,140000077694,PARTIDO ISOLADO,PSD,5,SUPLENTE,N,142
30172,16/05/2021,20:33:24,2020,2,Eleição Ordinária,1,426,ELEIÇÕES MUNICIPAIS 2020,15/11/2020,M,...,55,PSD,Partido Social Democrático,140000077694,PARTIDO ISOLADO,PSD,3,ELEITO POR MÉDIA,N,736

In [633]:
# Excluindo colunas que não serão usadas

data = data.drop('DT_GERACAO', axis=1)
data = data.drop('HH_GERACAO', axis=1)
data = data.drop('CD_TIPO_ELEICAO', axis=1)
data = data.drop('NM_TIPO_ELEICAO', axis=1)
data = data.drop('CD_ELEICAO', axis=1)
data = data.drop('DS_ELEICAO', axis=1)
data = data.drop('DT_ELEICAO', axis=1)
data = data.drop('ANO_ELEICAO', axis=1)
data = data.drop('NR_TURNO', axis=1)
data = data.drop('TP_ABRANGENCIA', axis=1)
data = data.drop('SG_UF', axis=1)
data = data.drop('SG_UE', axis=1)
data = data.drop('CD_MUNICIPIO', axis=1)
data = data.drop('NM_MUNICIPIO', axis=1)
data = data.drop('NR_ZONA', axis=1)
data = data.drop('CD_CARGO', axis=1)
data = data.drop('NR_PARTIDO', axis=1)
data = data.drop('NM_PARTIDO', axis=1)
data = data.drop('SQ_COLIGACAO', axis=1)
data = data.drop('NM_COLIGACAO', axis=1)
data = data.drop('DS_COMPOSICAO_COLIGACAO', axis=1)
data = data.drop('CD_SIT_TOT_TURNO', axis=1)
data = data.drop('ST_VOTO_EM_TRANSITO', axis=1)
data = data.drop('SQ_CANDIDATO', axis=1)
data = data.drop('NM_SOCIAL_CANDIDATO', axis=1)
data = data.drop('CD_SITUACAO_CANDIDATURA', axis=1)
data = data.drop('DS_SITUACAO_CANDIDATURA', axis=1)
data = data.drop('CD_DETALHE_SITUACAO_CAND', axis=1)
data = data.drop('DS_DETALHE_SITUACAO_CAND', axis=1)
data = data.drop('TP_AGREMIACAO', axis=1)
data = data.drop('SG_PARTIDO', axis=1)
data

,NM_UE,DS_CARGO,NR_CANDIDATO,NM_CANDIDATO,NM_URNA_CANDIDATO,DS_SIT_TOT_TURNO,QT_VOTOS_NOMINAIS
0,OURILÂNDIA DO NORTE,Vereador,90090,FRANCINEIDE DA CONCEIÇÃO,NEIDE,NÃO ELEITO,17
1,OURILÂNDIA DO NORTE,Vereador,90120,IVONETE DIAS DA SILVA,IVONETE DIAS,NÃO ELEITO,29
2,OURILÂNDIA DO NORTE,Vereador,90123,MARIA EDNA FERREIRA DA COSTA,EDNA,NÃO ELEITO,22
3,OURILÂNDIA DO NORTE,Vereador,90333,DEUSELINA MOREIRA MONTELO,IRMÃ DEUSA,NÃO ELEITO,18
4,OURILÂNDIA DO NORTE,Vereador,90612,ZULENE DOS SANTOS ARAUJO,ZULENE,NÃO ELEITO,502
...,...,...,...,...,...,...,...
30168,BARCARENA,Vereador,12134,EDENIAS SOUSA OLIVEIRA,IRMAO EDSON OLIVEIRA,NÃO ELEITO,97
30169,SÃO CAETANO DE ODIVELAS,Vereador,90010,RODOLFO FIGUEIREDO RODRIGUES,RODOLFO FIGUEIREDO,NÃO ELEITO,8
30170,ÓBIDOS,Vereador,33777,FRANCIMARA DA COSTA VIANA,MARA VIANA,NÃO ELEITO,18
30171,ORIXIMINÁ,Vereador,55055,JOSE MARIO DOS SANTOS TAVARES,ZÉ MÁRIO,SUPLENTE,142
30172,ORIXIMINÁ,Vereador,55000,ARNALDO DE OLIVEIRA GEMAQUE,DOUTOR ARNALDO GEMAQUE,ELEITO POR MÉDIA,736

In [634]:
# Removendo duplicadas da variável NM_CANDIDATO'

data = data.sort_values('NM_CANDIDATO', ascending=False)
data = data.drop_duplicates(subset='NM_CANDIDATO', keep='first')
data

,NM_UE,DS_CARGO,NR_CANDIDATO,NM_CANDIDATO,NM_URNA_CANDIDATO,DS_SIT_TOT_TURNO,QT_VOTOS_NOMINAIS
6156,IGARAPÉ-AÇU,Vereador,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,DR ÍTALO MAGALHÃES,SUPLENTE,186
4304,ABAETETUBA,Prefeito,12,ÉVERSON CARLOS QUARESMA DA SILVA,EVERSON CARLOS,NÃO ELEITO,13995
10170,JURUTI,Vereador,43741,ÉRICA MARIA PANTOJA DE SOUZA,ÉRICA PANTOJA,NÃO ELEITO,16
23637,CURIONÓPOLIS,Vereador,23555,ÉRICA DE MESQUITA REIS SOUSA,ÉRICA REIS,NÃO ELEITO,40
27704,SAPUCAIA,Vereador,45555,ÉRICA ALVES FELIPE,ÉRICA FELIPE,SUPLENTE,25
...,...,...,...,...,...,...,...
17978,JURUTI,Vereador,43001,ABEL PEREIRA DUTRA FILHO,ABEL DUTRA,NÃO ELEITO,28
16669,MUANÁ,Vereador,25678,ABEDIEL PINTO MARQUES,BOLOTA,ELEITO POR MÉDIA,422
12174,JURUTI,Vereador,20200,ABDON BRITO PEREIRA NETO,PROFESSOR ABDON,SUPLENTE,47
28619,TAILÂNDIA,Vereador,13555,ABDIEL FRANCISCO DE LIMA,BIBIU LIMA,NÃO ELEITO,75
18928,OEIRAS DO PARÁ,Vereador,12369,ABDIEL BALIEIRO BARBOSA,ABDIEL BARBOSA,SUPLENTE,24

In [635]:
# Extraindo somente as variáveis que serão usadas

data2 =data[['NR_CANDIDATO','NM_CANDIDATO','QT_VOTOS_NOMINAIS', 'DS_SIT_TOT_TURNO']]

In [636]:
# Renomeando as colunas

data2.columns = ['Numero_Candidato', 'Nome_Completo','Votos', 'Situacao']
data2

,Numero_Candidato,Nome_Completo,Votos,Situacao
6156,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,186,SUPLENTE
4304,12,ÉVERSON CARLOS QUARESMA DA SILVA,13995,NÃO ELEITO
10170,43741,ÉRICA MARIA PANTOJA DE SOUZA,16,NÃO ELEITO
23637,23555,ÉRICA DE MESQUITA REIS SOUSA,40,NÃO ELEITO
27704,45555,ÉRICA ALVES FELIPE,25,SUPLENTE
...,...,...,...,...
17978,43001,ABEL PEREIRA DUTRA FILHO,28,NÃO ELEITO
16669,25678,ABEDIEL PINTO MARQUES,422,ELEITO POR MÉDIA
12174,20200,ABDON BRITO PEREIRA NETO,47,SUPLENTE
28619,13555,ABDIEL FRANCISCO DE LIMA,75,NÃO ELEITO
18928,12369,ABDIEL BALIEIRO BARBOSA,24,SUPLENTE

In [637]:
# salvando o dataset em disco

data2.to_csv("dados_situacao.csv", index=False)

# Obtendo o último dataset

In [638]:
# Importando os dados

df = pd.read_csv('despesas_contratadas_candidatos_2020_PA.csv', sep = ';', encoding = 'utf-8', )
df

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,ST_TURNO,TP_PRESTACAO_CONTAS,...,SG_PARTIDO_FORNECEDOR,NM_PARTIDO_FORNECEDOR,DS_TIPO_DOCUMENTO,NR_DOCUMENTO,CD_ORIGEM_DESPESA,DS_ORIGEM_DESPESA,SQ_DESPESA,DT_DESPESA,DS_DESPESA,VR_DESPESA_CONTRATADA
0,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Outro,63204,20800000,Atividades de militância e mobilização de rua,38911268,21/10/2020,PRSTAÇÃO DE SERVIÇO DE CABO ELEITORAL ELEIÇÃO ...,"2000,00"
1,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Outro,45249,20800000,Atividades de militância e mobilização de rua,38893606,21/10/2020,SERVIÇO DE CABO ELEITORAL ELEIÇÃO 2020,"2000,00"
2,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Nota Fiscal,047125,20360001,Serviços advocatícios,39540413,25/10/2020,ASSESSORAMENTO JURIDICO,"100,00"
3,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Nota Fiscal,202000000000001,20110000,Publicidade por adesivos,40319425,09/11/2020,ADESIVOS DIVERSOS,"2500,00"
4,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Outro,04,20800000,Atividades de militância e mobilização de rua,38835601,16/10/2020,SERVIÇOS DE DIVULGAÇÃO,"200,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122955,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Outro,08,20800000,Atividades de militância e mobilização de rua,36751370,16/10/2020,CONTRATO DE SERVIÇOS DE 16/10 A 31/10/2020,"300,00"
122956,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Nota Fiscal,895,20140000,Publicidade por materiais impressos,37601968,13/11/2020,MILHEIRO DE SANTINHO,"120,00"
122957,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Nota Fiscal,11498,20180000,Comícios,37601973,10/11/2020,COBERTURA SONORA PARA AS REUNIOES NAS COMUNIDADES,"300,00"
122958,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Nota Fiscal,100,20110000,Publicidade por adesivos,37338708,13/11/2020,SERVIÇOS DE CONFECÃO DE IMP. DE 4 METROS DE PR...,"300,00"
122959,15/05/2021,23:20:22,2020,2,Ordinária,426,Eleições Municipais 2020,15/11/2020,1,Final,...,#NULO#,#NULO#,Nota Fiscal,223,20140000,Publicidade por materiais impressos,37338709,10/11/2020,SANTINHOS 6X9,"40,00"

In [639]:
# Exluindo variáveis que não serão usadas

df = df.drop('DT_GERACAO', axis=1)
df = df.drop('HH_GERACAO', axis=1)
df = df.drop('CD_TIPO_ELEICAO', axis=1)
df = df.drop('NM_TIPO_ELEICAO', axis=1)
df = df.drop('CD_ELEICAO', axis=1)
df = df.drop('TP_PRESTACAO_CONTAS', axis=1)
df = df.drop('DT_PRESTACAO_CONTAS', axis=1)
df = df.drop('SG_PARTIDO_FORNECEDOR', axis=1)
df = df.drop('NM_PARTIDO_FORNECEDOR', axis=1)
df = df.drop('NR_DOCUMENTO', axis=1)
df = df.drop('CD_ORIGEM_DESPESA', axis=1)
df = df.drop('SQ_DESPESA', axis=1)
df = df.drop('SQ_PRESTADOR_CONTAS', axis=1)
df = df.drop('SG_UF', axis=1)
df = df.drop('SG_UE', axis=1)
df = df.drop('NR_CNPJ_PRESTADOR_CONTA', axis=1)
df = df.drop('CD_CARGO', axis=1)
df = df.drop('SQ_CANDIDATO_FORNECEDOR', axis=1)
df = df.drop('CD_CARGO_FORNECEDOR', axis=1)
df = df.drop('NR_PARTIDO_FORNECEDOR', axis=1)
df = df.drop('ST_TURNO', axis=1)
df = df.drop('SQ_CANDIDATO', axis=1)
df = df.drop('NR_CANDIDATO', axis=1)
df = df.drop('NR_CPF_CANDIDATO', axis=1)
df = df.drop('DS_ESFERA_PART_FORNECEDOR', axis=1)
df = df.drop('SG_UF_FORNECEDOR', axis=1)
df = df.drop('NM_MUNICIPIO_FORNECEDOR', axis=1)
df = df.drop('CD_MUNICIPIO_FORNECEDOR', axis=1)
df = df.drop('DS_CARGO_FORNECEDOR', axis=1)
df = df.drop('NR_CPF_VICE_CANDIDATO', axis=1)
df = df.drop('DS_CNAE_FORNECEDOR', axis=1)
df = df.drop('NR_CPF_CNPJ_FORNECEDOR', axis=1)
df = df.drop('NM_FORNECEDOR', axis=1)
df = df.drop('NM_FORNECEDOR_RFB', axis=1)
df = df.drop('CD_ESFERA_PART_FORNECEDOR', axis=1)
df = df.drop('CD_CNAE_FORNECEDOR', axis=1)
df

,ANO_ELEICAO,DS_ELEICAO,DT_ELEICAO,NM_UE,DS_CARGO,NM_CANDIDATO,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,CD_TIPO_FORNECEDOR,DS_TIPO_FORNECEDOR,NR_CANDIDATO_FORNECEDOR,DS_TIPO_DOCUMENTO,DS_ORIGEM_DESPESA,DT_DESPESA,DS_DESPESA,VR_DESPESA_CONTRATADA
0,2020,Eleições Municipais 2020,15/11/2020,REDENÇÃO,Vereador,ROBERTO MEDEIROS DA SILVA,17,PSL,Partido Social Liberal,0,Pessoa Física,-1,Outro,Atividades de militância e mobilização de rua,21/10/2020,PRSTAÇÃO DE SERVIÇO DE CABO ELEITORAL ELEIÇÃO ...,"2000,00"
1,2020,Eleições Municipais 2020,15/11/2020,REDENÇÃO,Vereador,MARIA ONEIDE BARBOSA DE MORAIS,17,PSL,Partido Social Liberal,0,Pessoa Física,-1,Outro,Atividades de militância e mobilização de rua,21/10/2020,SERVIÇO DE CABO ELEITORAL ELEIÇÃO 2020,"2000,00"
2,2020,Eleições Municipais 2020,15/11/2020,CAPANEMA,Vereador,FRANCISCO JOSE OTERO BRASIL,13,PT,Partido dos Trabalhadores,0,Pessoa Física,-1,Nota Fiscal,Serviços advocatícios,25/10/2020,ASSESSORAMENTO JURIDICO,"100,00"
3,2020,Eleições Municipais 2020,15/11/2020,VITÓRIA DO XINGU,Vereador,RITA FERREIRA PORTELA,65,PC do B,Partido Comunista do Brasil,0,Pessoa Física,-1,Nota Fiscal,Publicidade por adesivos,09/11/2020,ADESIVOS DIVERSOS,"2500,00"
4,2020,Eleições Municipais 2020,15/11/2020,BELÉM,Vereador,WALQUIRIA CRISTINA BATISTA ALVES BARBOSA,40,PSB,Partido Socialista Brasileiro,0,Pessoa Física,-1,Outro,Atividades de militância e mobilização de rua,16/10/2020,SERVIÇOS DE DIVULGAÇÃO,"200,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122955,2020,Eleições Municipais 2020,15/11/2020,ULIANÓPOLIS,Vereador,WALTER DE ALMEIDA ARAÚJO,45,PSDB,Partido da Social Democracia Brasileira,0,Pessoa Física,-1,Outro,Atividades de militância e mobilização de rua,16/10/2020,CONTRATO DE SERVIÇOS DE 16/10 A 31/10/2020,"300,00"
122956,2020,Eleições Municipais 2020,15/11/2020,BUJARU,Vereador,VALMIR ARAUJO RODRIGUES,22,PL,Partido Liberal,1,Pessoa Jurídica,-1,Nota Fiscal,Publicidade por materiais impressos,13/11/2020,MILHEIRO DE SANTINHO,"120,00"
122957,2020,Eleições Municipais 2020,15/11/2020,SANTA MARIA DO PARÁ,Vereador,GLAILSON LIMA DUARTE,20,PSC,Partido Social Cristão,0,Pessoa Física,-1,Nota Fiscal,Comícios,10/11/2020,COBERTURA SONORA PARA AS REUNIOES NAS COMUNIDADES,"300,00"
122958,2020,Eleições Municipais 2020,15/11/2020,ABAETETUBA,Vereador,HELIO DE JESUS MACHADO NAHUM,12,PDT,Partido Democrático Trabalhista,1,Pessoa Jurídica,-1,Nota Fiscal,Publicidade por adesivos,13/11/2020,SERVIÇOS DE CONFECÃO DE IMP. DE 4 METROS DE PR...,"300,00"
122959,2020,Eleições Municipais 2020,15/11/2020,ABAETETUBA,Vereador,HELIO DE JESUS MACHADO NAHUM,12,PDT,Partido Democrático Trabalhista,1,Pessoa Jurídica,-1,Nota Fiscal,Publicidade por materiais impressos,10/11/2020,SANTINHOS 6X9,"40,00"

In [2]:
# Transformando a variável despesa em tipo float

df['VR_DESPESA_CONTRATADA'] = df['VR_DESPESA_CONTRATADA'].astype(str)
df['VR_DESPESA_CONTRATADA'] = df['VR_DESPESA_CONTRATADA'].str.replace(',', '.')
df['VR_DESPESA_CONTRATADA'] = df['VR_DESPESA_CONTRATADA'].astype(float)

NameError: name 'df' is not defined

In [1]:
# Queremos trabalhar somente com Vereador

# Excluindo Registros que contém 'VICE-PREFEITO' da variável 'Cargo'

df.drop(df.loc[df['DS_CARGO']=='Vice-prefeito'].index, inplace=True)
df[['DS_CARGO','VR_DESPESA_CONTRATADA']].groupby(['DS_CARGO'], as_index=False).sum().sort_values(by='VR_DESPESA_CONTRATADA', ascending=False)

NameError: name 'df' is not defined

In [642]:
# Extraindo colunas que serão usadas

df2 = df[['NM_CANDIDATO','VR_DESPESA_CONTRATADA']].groupby(['NM_CANDIDATO'], as_index=False).sum().sort_values(by='VR_DESPESA_CONTRATADA', ascending=False)
df2

                      NM_CANDIDATO  VR_DESPESA_CONTRATADA
2990      EDMILSON BRITO RODRIGUES             2188560.26
2387             DARCI JOSE LERMEN             1807128.53
8366   MARIA DO CARMO MARTINS LIMA             1615477.24
11553                THIAGO ARAUJO             1503455.04
6478    JOSÉ BENITO PRIANTE JUNIOR             1502034.37
...                            ...                    ...
2265   CRISTIANO OLIVEIRA DE SOUSA                   6.45
5038       IRANEIDE SILVA DE SOUZA                   6.45
4331     FRANCISCO VIEIRA DE MATOS                   5.00
6916      KAREN CAVALCANTE PEREIRA                   5.00
3645         ERNANDES COSTA SANTOS                   0.70

[12313 rows x 2 columns]

In [643]:
# Renomeando as colunas

df2.columns = ['Nome_Completo', 'Valor_Total_Declarado']
df2

                     Nome_Completo  Valor_Total_Declarado
2990      EDMILSON BRITO RODRIGUES             2188560.26
2387             DARCI JOSE LERMEN             1807128.53
8366   MARIA DO CARMO MARTINS LIMA             1615477.24
11553                THIAGO ARAUJO             1503455.04
6478    JOSÉ BENITO PRIANTE JUNIOR             1502034.37
...                            ...                    ...
2265   CRISTIANO OLIVEIRA DE SOUSA                   6.45
5038       IRANEIDE SILVA DE SOUZA                   6.45
4331     FRANCISCO VIEIRA DE MATOS                   5.00
6916      KAREN CAVALCANTE PEREIRA                   5.00
3645         ERNANDES COSTA SANTOS                   0.70

[12313 rows x 2 columns]

In [644]:
# Salvando dataframe em um arquivo csv

df2.to_csv("dados_valor.csv", index=False)

# Juntando os Datasets

In [645]:
# Importando o dataset 1
df1 = pd.read_csv("dados_limpos.csv")
df1

,Municipio,Cargo,Numero_Candidato,Nome_Completo,Nome_Urna,Tipo_Agremiacao,Partido,UF_Nascimento,Mun_Nascimento,Idade_Posse,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Ocupacao,Despesas_Max_Partido,Reeleicao,Declar_Bens
0,IGARAPÉ-AÇU,VEREADOR,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,DR ÍTALO MAGALHÃES,PARTIDO ISOLADO,PSDB,PA,IGARAPÉ-AÇU,39,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,ADVOGADO,25592.36,N,S
1,JURUTI,VEREADOR,43741,ÉRICA MARIA PANTOJA DE SOUZA,ÉRICA PANTOJA,PARTIDO ISOLADO,PV,AM,MANAUS,33,FEMININO,SUPERIOR COMPLETO,SOLTEIRO(A),PARDA,OUTROS,49904.20,N,S
2,SOURE,VEREADOR,55555,ÉRICA ELLEN RAMIREZ RAIOL,ÉRICA RAMIREZ,PARTIDO ISOLADO,PSD,PA,SOURE,35,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),BRANCA,PESCADOR,15977.14,N,S
3,CURIONÓPOLIS,VEREADOR,23555,ÉRICA DE MESQUITA REIS SOUSA,ÉRICA REIS,PARTIDO ISOLADO,CIDADANIA,PA,CURIONÓPOLIS,27,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),BRANCA,OUTROS,25848.36,N,S
4,SAPUCAIA,VEREADOR,45555,ÉRICA ALVES FELIPE,ÉRICA FELIPE,PARTIDO ISOLADO,PSDB,PA,XINGUARA,27,FEMININO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,SERVIDOR PÚBLICO MUNICIPAL,12307.75,N,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21413,MUANÁ,VEREADOR,25678,ABEDIEL PINTO MARQUES,BOLOTA,PARTIDO ISOLADO,DEM,PA,MUANÁ,34,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,COMERCIANTE,12307.75,N,S
21414,PARAUAPEBAS,VEREADOR,50007,ABDORAL DOS SANTOS,ABDORAL DO FREI HENRY,PARTIDO ISOLADO,PSOL,MA,IMPERATRIZ,60,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,DIVORCIADO(A),BRANCA,AGRICULTOR,211925.15,N,S
21415,JURUTI,VEREADOR,20200,ABDON BRITO PEREIRA NETO,PROFESSOR ABDON,PARTIDO ISOLADO,PSC,PA,JURUTI,48,MASCULINO,SUPERIOR COMPLETO,CASADO(A),BRANCA,PROFESSOR DE ENSINO SUPERIOR,49904.20,N,N
21416,TAILÂNDIA,VEREADOR,13555,ABDIEL FRANCISCO DE LIMA,BIBIU LIMA,PARTIDO ISOLADO,PT,PA,TAILÂNDIA,53,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,CASADO(A),PRETA,AGRICULTOR,20238.90,N,S
21417,OEIRAS DO PARÁ,VEREADOR,12369,ABDIEL BALIEIRO BARBOSA,ABDIEL BARBOSA,PARTIDO ISOLADO,PDT,PA,OEIRAS DO PARÁ,36,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,AGRICULTOR,42582.54,N,S

In [646]:
# Importando o dataset 2
df2 = pd.read_csv("dados_situacao.csv")
df2

,Numero_Candidato,Nome_Completo,Votos,Situacao
0,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,186,SUPLENTE
1,12,ÉVERSON CARLOS QUARESMA DA SILVA,13995,NÃO ELEITO
2,43741,ÉRICA MARIA PANTOJA DE SOUZA,16,NÃO ELEITO
3,23555,ÉRICA DE MESQUITA REIS SOUSA,40,NÃO ELEITO
4,45555,ÉRICA ALVES FELIPE,25,SUPLENTE
...,...,...,...,...
18920,43001,ABEL PEREIRA DUTRA FILHO,28,NÃO ELEITO
18921,25678,ABEDIEL PINTO MARQUES,422,ELEITO POR MÉDIA
18922,20200,ABDON BRITO PEREIRA NETO,47,SUPLENTE
18923,13555,ABDIEL FRANCISCO DE LIMA,75,NÃO ELEITO
18924,12369,ABDIEL BALIEIRO BARBOSA,24,SUPLENTE

In [647]:
# Importando o dataset 3
df3 = pd.read_csv("dados_valor.csv")
df3

                     Nome_Completo  Valor_Total_Declarado
0         EDMILSON BRITO RODRIGUES             2188560.26
1                DARCI JOSE LERMEN             1807128.53
2      MARIA DO CARMO MARTINS LIMA             1615477.24
3                    THIAGO ARAUJO             1503455.04
4       JOSÉ BENITO PRIANTE JUNIOR             1502034.37
...                            ...                    ...
12308  CRISTIANO OLIVEIRA DE SOUSA                   6.45
12309      IRANEIDE SILVA DE SOUZA                   6.45
12310    FRANCISCO VIEIRA DE MATOS                   5.00
12311     KAREN CAVALCANTE PEREIRA                   5.00
12312        ERNANDES COSTA SANTOS                   0.70

[12313 rows x 2 columns]

In [648]:
# Juntando df1 e df3
dataset0 = pd.merge(df1,df3,on='Nome_Completo')
dataset0

,Municipio,Cargo,Numero_Candidato,Nome_Completo,Nome_Urna,Tipo_Agremiacao,Partido,UF_Nascimento,Mun_Nascimento,Idade_Posse,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Ocupacao,Despesas_Max_Partido,Reeleicao,Declar_Bens,Valor_Total_Declarado
0,IGARAPÉ-AÇU,VEREADOR,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,DR ÍTALO MAGALHÃES,PARTIDO ISOLADO,PSDB,PA,IGARAPÉ-AÇU,39,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,ADVOGADO,25592.36,N,S,3565.85
1,CURIONÓPOLIS,VEREADOR,23555,ÉRICA DE MESQUITA REIS SOUSA,ÉRICA REIS,PARTIDO ISOLADO,CIDADANIA,PA,CURIONÓPOLIS,27,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),BRANCA,OUTROS,25848.36,N,S,6006.70
2,TRAIRÃO,VEREADOR,45330,ÉLIO ALVES DE BARROS,NANANI,PARTIDO ISOLADO,PSDB,PR,CAFELÂNDIA,57,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PRETA,VEREADOR,22624.92,N,S,3520.00
3,ANANINDEUA,VEREADOR,36555,ÉDINA MAKLOUF GONÇALVES PEREIRA,ÉDINA MAKLOUF,PARTIDO ISOLADO,PTC,AM,URUCURITUBA,44,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,OUTROS,115386.04,N,S,300.00
4,SÃO DOMINGOS DO CAPIM,VEREADOR,45678,ÂNGELO NEVES DOS SANTOS,ÂNGELO DA OFICINA,PARTIDO ISOLADO,PSDB,PA,SÃO DOMINGOS DO CAPIM,38,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,OUTROS,15772.81,N,S,800.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,ITUPIRANGA,VEREADOR,12333,ABEL LIMA DA SILVA,ABEL TODA HORA,PARTIDO ISOLADO,PDT,PA,ITUPIRANGA,36,MASCULINO,SUPERIOR COMPLETO,SOLTEIRO(A),PARDA,OUTROS,25692.10,N,S,200.00
10905,MUANÁ,VEREADOR,25678,ABEDIEL PINTO MARQUES,BOLOTA,PARTIDO ISOLADO,DEM,PA,MUANÁ,34,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,COMERCIANTE,12307.75,N,S,120.00
10906,PARAUAPEBAS,VEREADOR,50007,ABDORAL DOS SANTOS,ABDORAL DO FREI HENRY,PARTIDO ISOLADO,PSOL,MA,IMPERATRIZ,60,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,DIVORCIADO(A),BRANCA,AGRICULTOR,211925.15,N,S,227.57
10907,TAILÂNDIA,VEREADOR,13555,ABDIEL FRANCISCO DE LIMA,BIBIU LIMA,PARTIDO ISOLADO,PT,PA,TAILÂNDIA,53,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,CASADO(A),PRETA,AGRICULTOR,20238.90,N,S,830.00
10908,OEIRAS DO PARÁ,VEREADOR,12369,ABDIEL BALIEIRO BARBOSA,ABDIEL BARBOSA,PARTIDO ISOLADO,PDT,PA,OEIRAS DO PARÁ,36,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,AGRICULTOR,42582.54,N,S,1709.75

In [649]:
# Juntando dataset0 e df3
dataset = pd.merge(dataset0,df2,on='Nome_Completo')
dataset

,Municipio,Cargo,Numero_Candidato_x,Nome_Completo,Nome_Urna,Tipo_Agremiacao,Partido,UF_Nascimento,Mun_Nascimento,Idade_Posse,...,Estado_Civil,Declar_Racial,Ocupacao,Despesas_Max_Partido,Reeleicao,Declar_Bens,Valor_Total_Declarado,Numero_Candidato_y,Votos,Situacao
0,IGARAPÉ-AÇU,VEREADOR,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,DR ÍTALO MAGALHÃES,PARTIDO ISOLADO,PSDB,PA,IGARAPÉ-AÇU,39,...,CASADO(A),PARDA,ADVOGADO,25592.36,N,S,3565.85,45222,186,SUPLENTE
1,CURIONÓPOLIS,VEREADOR,23555,ÉRICA DE MESQUITA REIS SOUSA,ÉRICA REIS,PARTIDO ISOLADO,CIDADANIA,PA,CURIONÓPOLIS,27,...,CASADO(A),BRANCA,OUTROS,25848.36,N,S,6006.70,23555,40,NÃO ELEITO
2,TRAIRÃO,VEREADOR,45330,ÉLIO ALVES DE BARROS,NANANI,PARTIDO ISOLADO,PSDB,PR,CAFELÂNDIA,57,...,SOLTEIRO(A),PRETA,VEREADOR,22624.92,N,S,3520.00,45330,203,SUPLENTE
3,ANANINDEUA,VEREADOR,36555,ÉDINA MAKLOUF GONÇALVES PEREIRA,ÉDINA MAKLOUF,PARTIDO ISOLADO,PTC,AM,URUCURITUBA,44,...,CASADO(A),PARDA,OUTROS,115386.04,N,S,300.00,36555,20,NÃO ELEITO
4,SÃO DOMINGOS DO CAPIM,VEREADOR,45678,ÂNGELO NEVES DOS SANTOS,ÂNGELO DA OFICINA,PARTIDO ISOLADO,PSDB,PA,SÃO DOMINGOS DO CAPIM,38,...,SOLTEIRO(A),PARDA,OUTROS,15772.81,N,S,800.00,45678,861,SUPLENTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9281,MOJUÍ DOS CAMPOS,VEREADOR,20456,ABGAIL PAZ GALUCIO SANTOS,PROF ABGAIL GALÚCIO,PARTIDO ISOLADO,PSC,PA,SANTARÉM,57,...,CASADO(A),BRANCA,PROFESSOR DE ENSINO MÉDIO,45418.00,N,S,1200.00,20456,120,SUPLENTE
9282,PORTO DE MOZ,VEREADOR,10000,ABELARDO DA SILVA MACIEL,ABEL MACIEL,PARTIDO ISOLADO,REPUBLICANOS,PA,PORTO DE MOZ,48,...,SOLTEIRO(A),PARDA,EMPRESÁRIO,12307.75,N,S,300.90,10000,280,ELEITO POR QP
9283,MUANÁ,VEREADOR,25678,ABEDIEL PINTO MARQUES,BOLOTA,PARTIDO ISOLADO,DEM,PA,MUANÁ,34,...,SOLTEIRO(A),PARDA,COMERCIANTE,12307.75,N,S,120.00,25678,422,ELEITO POR MÉDIA
9284,TAILÂNDIA,VEREADOR,13555,ABDIEL FRANCISCO DE LIMA,BIBIU LIMA,PARTIDO ISOLADO,PT,PA,TAILÂNDIA,53,...,CASADO(A),PRETA,AGRICULTOR,20238.90,N,S,830.00,13555,75,NÃO ELEITO
9285,OEIRAS DO PARÁ,VEREADOR,12369,ABDIEL BALIEIRO BARBOSA,ABDIEL BARBOSA,PARTIDO ISOLADO,PDT,PA,OEIRAS DO PARÁ,36,...,SOLTEIRO(A),PARDA,AGRICULTOR,42582.54,N,S,1709.75,12369,24,SUPLENTE

In [650]:
# Verificando informações do dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9286 entries, 0 to 9285
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Municipio              9286 non-null   object
 1   Cargo                  9286 non-null   object
 2   Numero_Candidato_x     9286 non-null   int64
 3   Nome_Completo          9286 non-null   object
 4   Nome_Urna              9286 non-null   object
 5   Tipo_Agremiacao        9286 non-null   object
 6   Partido                9286 non-null   object
 7   UF_Nascimento          9286 non-null   object
 8   Mun_Nascimento         9286 non-null   object
 9   Idade_Posse            9286 non-null   int64
 10  Genero                 9286 non-null   object
 11  Grau_Instrucao         9286 non-null   object
 12  Estado_Civil           9286 non-null   object
 13  Declar_Racial          9286 non-null   object
 14  Ocupacao               9286 non-null   object
 15  Despesas_Max_Partido   9286 non-null   float64
 16  Reeleicao              9286 non-null   object
 17  Declar_Bens            9286 non-null   object
 18  Valor_Total_Declarado  9286 non-null   float64
 19  Numero_Candidato_y     9286 non-null   int64
 20  Votos                  9286 non-null   int64
 21  Situacao               9286 non-null   object
dtypes: float64(2), int64(4), object(16)
memory usage: 1.6+ MB

In [651]:
# Excluindo possíveis duplicatas

dataset = dataset.sort_values('Nome_Completo', ascending=False)
dataset = dataset.drop_duplicates(subset='Nome_Completo', keep='first')
dataset

,Municipio,Cargo,Numero_Candidato_x,Nome_Completo,Nome_Urna,Tipo_Agremiacao,Partido,UF_Nascimento,Mun_Nascimento,Idade_Posse,...,Estado_Civil,Declar_Racial,Ocupacao,Despesas_Max_Partido,Reeleicao,Declar_Bens,Valor_Total_Declarado,Numero_Candidato_y,Votos,Situacao
0,IGARAPÉ-AÇU,VEREADOR,45222,ÍTALO BENEDITO DA CRUZ MAGALHÃES,DR ÍTALO MAGALHÃES,PARTIDO ISOLADO,PSDB,PA,IGARAPÉ-AÇU,39,...,CASADO(A),PARDA,ADVOGADO,25592.36,N,S,3565.85,45222,186,SUPLENTE
1,CURIONÓPOLIS,VEREADOR,23555,ÉRICA DE MESQUITA REIS SOUSA,ÉRICA REIS,PARTIDO ISOLADO,CIDADANIA,PA,CURIONÓPOLIS,27,...,CASADO(A),BRANCA,OUTROS,25848.36,N,S,6006.70,23555,40,NÃO ELEITO
2,TRAIRÃO,VEREADOR,45330,ÉLIO ALVES DE BARROS,NANANI,PARTIDO ISOLADO,PSDB,PR,CAFELÂNDIA,57,...,SOLTEIRO(A),PRETA,VEREADOR,22624.92,N,S,3520.00,45330,203,SUPLENTE
3,ANANINDEUA,VEREADOR,36555,ÉDINA MAKLOUF GONÇALVES PEREIRA,ÉDINA MAKLOUF,PARTIDO ISOLADO,PTC,AM,URUCURITUBA,44,...,CASADO(A),PARDA,OUTROS,115386.04,N,S,300.00,36555,20,NÃO ELEITO
4,SÃO DOMINGOS DO CAPIM,VEREADOR,45678,ÂNGELO NEVES DOS SANTOS,ÂNGELO DA OFICINA,PARTIDO ISOLADO,PSDB,PA,SÃO DOMINGOS DO CAPIM,38,...,SOLTEIRO(A),PARDA,OUTROS,15772.81,N,S,800.00,45678,861,SUPLENTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9281,MOJUÍ DOS CAMPOS,VEREADOR,20456,ABGAIL PAZ GALUCIO SANTOS,PROF ABGAIL GALÚCIO,PARTIDO ISOLADO,PSC,PA,SANTARÉM,57,...,CASADO(A),BRANCA,PROFESSOR DE ENSINO MÉDIO,45418.00,N,S,1200.00,20456,120,SUPLENTE
9282,PORTO DE MOZ,VEREADOR,10000,ABELARDO DA SILVA MACIEL,ABEL MACIEL,PARTIDO ISOLADO,REPUBLICANOS,PA,PORTO DE MOZ,48,...,SOLTEIRO(A),PARDA,EMPRESÁRIO,12307.75,N,S,300.90,10000,280,ELEITO POR QP
9283,MUANÁ,VEREADOR,25678,ABEDIEL PINTO MARQUES,BOLOTA,PARTIDO ISOLADO,DEM,PA,MUANÁ,34,...,SOLTEIRO(A),PARDA,COMERCIANTE,12307.75,N,S,120.00,25678,422,ELEITO POR MÉDIA
9284,TAILÂNDIA,VEREADOR,13555,ABDIEL FRANCISCO DE LIMA,BIBIU LIMA,PARTIDO ISOLADO,PT,PA,TAILÂNDIA,53,...,CASADO(A),PRETA,AGRICULTOR,20238.90,N,S,830.00,13555,75,NÃO ELEITO
9285,OEIRAS DO PARÁ,VEREADOR,12369,ABDIEL BALIEIRO BARBOSA,ABDIEL BARBOSA,PARTIDO ISOLADO,PDT,PA,OEIRAS DO PARÁ,36,...,SOLTEIRO(A),PARDA,AGRICULTOR,42582.54,N,S,1709.75,12369,24,SUPLENTE

In [652]:
# Excluindo variáveis que não serão usadas

dataset = dataset.drop('Numero_Candidato_x', axis=1)
dataset = dataset.drop ('Nome_Completo', axis=1)
dataset = dataset.drop ('Nome_Urna', axis=1)
dataset = dataset.drop ('Numero_Candidato_y', axis=1)
dataset = dataset.drop ('Despesas_Max_Partido', axis=1)
dataset = dataset.drop ('Mun_Nascimento', axis=1)
dataset = dataset.drop ('Ocupacao', axis=1)
dataset = dataset.drop ('Votos', axis=1) # Por não sabermos o voto até o fim da eleição
dataset

,Municipio,Cargo,Tipo_Agremiacao,Partido,UF_Nascimento,Idade_Posse,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Reeleicao,Declar_Bens,Valor_Total_Declarado,Situacao
0,IGARAPÉ-AÇU,VEREADOR,PARTIDO ISOLADO,PSDB,PA,39,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,N,S,3565.85,SUPLENTE
1,CURIONÓPOLIS,VEREADOR,PARTIDO ISOLADO,CIDADANIA,PA,27,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),BRANCA,N,S,6006.70,NÃO ELEITO
2,TRAIRÃO,VEREADOR,PARTIDO ISOLADO,PSDB,PR,57,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PRETA,N,S,3520.00,SUPLENTE
3,ANANINDEUA,VEREADOR,PARTIDO ISOLADO,PTC,AM,44,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,N,S,300.00,NÃO ELEITO
4,SÃO DOMINGOS DO CAPIM,VEREADOR,PARTIDO ISOLADO,PSDB,PA,38,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,N,S,800.00,SUPLENTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9281,MOJUÍ DOS CAMPOS,VEREADOR,PARTIDO ISOLADO,PSC,PA,57,FEMININO,SUPERIOR COMPLETO,CASADO(A),BRANCA,N,S,1200.00,SUPLENTE
9282,PORTO DE MOZ,VEREADOR,PARTIDO ISOLADO,REPUBLICANOS,PA,48,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,N,S,300.90,ELEITO POR QP
9283,MUANÁ,VEREADOR,PARTIDO ISOLADO,DEM,PA,34,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,N,S,120.00,ELEITO POR MÉDIA
9284,TAILÂNDIA,VEREADOR,PARTIDO ISOLADO,PT,PA,53,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,CASADO(A),PRETA,N,S,830.00,NÃO ELEITO
9285,OEIRAS DO PARÁ,VEREADOR,PARTIDO ISOLADO,PDT,PA,36,MASCULINO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,N,S,1709.75,SUPLENTE

# Transformação dos dados

In [653]:
# Importando bibliotecas

# análise de dados e discussão
import pandas as pd
import numpy as np
import random as rnd
from sklearn.preprocessing import LabelEncoder,  StandardScaler

# visualização
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [654]:
# 0 colunas nulas

In [655]:
# Quais variáveis são numéricos?

In [656]:
# Quais variáveis são categóricos?

In [657]:
# Quais são os tipos de dados para vários recursos?

In [658]:
# Visualizar informações das variáveis
dataset.info()
print('_'*40)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9286 entries, 0 to 9285
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Municipio              9286 non-null   object
 1   Cargo                  9286 non-null   object
 2   Tipo_Agremiacao        9286 non-null   object
 3   Partido                9286 non-null   object
 4   UF_Nascimento          9286 non-null   object
 5   Idade_Posse            9286 non-null   int64
 6   Genero                 9286 non-null   object
 7   Grau_Instrucao         9286 non-null   object
 8   Estado_Civil           9286 non-null   object
 9   Declar_Racial          9286 non-null   object
 10  Reeleicao              9286 non-null   object
 11  Declar_Bens            9286 non-null   object
 12  Valor_Total_Declarado  9286 non-null   float64
 13  Situacao               9286 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 1.1+ MB
________________________________________

In [659]:
#data binding

# agrupando os inumeros uf_nascimentos em 3 grupos
agrupado = dataset.groupby(['UF_Nascimento']).size()
agrupado

UF_Nascimento
AC       1
AL       6
AM      53
AP      31
BA     130
CE     153
DF       9
ES      67
GO     186
MA     730
MG     104
MS      13
MT      33
PA    7124
PB      15
PE      39
PI      82
PR      98
RJ      21
RN      13
RO      10
RR       4
RS      32
SC      21
SE       9
SP      33
TO     268
ZZ       1
dtype: int64

In [660]:
dataset.loc[dataset['UF_Nascimento'] == 'PA', 'UF_Nascimento'] = 'PA'
dataset.loc[dataset['UF_Nascimento'] == 'AC', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'AL', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'RO', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'AM', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'AP', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'BA', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'CE', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'DF', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'ES', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'GO', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'MA', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'MG', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'MS', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'MT', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'PB', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'PE', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'PI', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'PR', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'RJ', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'RN', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'RO', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'RR', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'RS', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'SC', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'SE', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'SP', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'TO', 'UF_Nascimento'] = 'outros'
dataset.loc[dataset['UF_Nascimento'] == 'ZZ', 'UF_Nascimento'] = 'Estrangeiro'
agrupado = dataset.groupby(['UF_Nascimento']).size()
agrupado

UF_Nascimento
Estrangeiro       1
PA             7124
outros         2161
dtype: int64

In [661]:
#data binding

# agrupando os inumeros municipios em 4 grupos
agrupado2 = dataset.groupby(['Municipio']).size()
agrupado2

Municipio
ABAETETUBA            149
ABEL FIGUEIREDO        33
ACARÁ                  84
AFUÁ                   28
ALENQUER              139
                     ...
VISEU                  56
VITÓRIA DO XINGU       32
XINGUARA               32
ÁGUA AZUL DO NORTE     25
ÓBIDOS                 59
Length: 132, dtype: int64

In [662]:
dataset.loc[dataset['Municipio'] == 'BELÉM', 'Municipio'] = 'GRANDE'
dataset.loc[dataset['Municipio'] == 'ANANINDEUA', 'Municipio'] = 'GRANDE'
dataset.loc[dataset['Municipio'] == 'SANTARÉM', 'Municipio'] = 'GRANDE'
dataset.loc[dataset['Municipio'] == 'MARABÁ', 'Municipio'] = 'GRANDE'
dataset.loc[dataset['Municipio'] == 'PARAUAPEBAS', 'Municipio'] = 'GRANDE'
dataset.loc[dataset['Municipio'] == 'CASTANHAL', 'Municipio'] = 'GRANDE'

dataset.loc[dataset['Municipio'] == 'ABAETETUBA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'CAMETÁ', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'MARITUBA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'BRAGANÇA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'SÃO FÉLIX DO XINGU', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'BARCARENA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'ALTAMIRA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'TUCURUÍ', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'PARAGOMINAS', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'TAILÂNDIA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'BREVES', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'ITAITUBA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'REDENÇÃO', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'MOJU', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'NOVO REPARTIMENTO', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'ORIXIMINÁ', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'SANTANA DO ARAGUAIA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'SANTA ISABEL DO PARÁ', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'CAPANEMA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'BREU BRANCO', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'TOMÉ-AÇU', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'IPIXUNA DO PARÁ', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'IGARAPÉ-MIRI', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'BENEVIDES', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'PORTEL', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'VISEU', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'DOM ELISEU', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'JACUNDÁ', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'SÃO MIGUEL DO GUAMÁ', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'MONTE ALEGRE', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'ULIANÓPOLIS', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'JURUTI', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'ALENQUER', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'ACARÁ', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'CAPITÃO POÇO', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'VIGIA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'ITUPIRANGA', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'ÓBIDOS', 'Municipio'] = 'MEDIO'
dataset.loc[dataset['Municipio'] == 'RONDON DO PARÁ', 'Municipio'] = 'MEDIO'

dataset.loc[dataset['Municipio'] == 'RURÓPOLIS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CONCEIÇÃO DO ARAGUAIA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'PACAJÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'BAIÃO', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'URUARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'AUGUSTO CORRÊA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'XINGUARA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'PORTO DE MOZ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SALINÓPOLIS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'GOIANÉSIA DO PARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'MUANÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CURUÇÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'TUCUMÃ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'AFUÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'IGARAPÉ-AÇU', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CANAÃ DOS CARAJÁS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'ALMEIRIM', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CURRALINHO', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'ELDORADO DOS CARAJÁS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CACHOEIRA DO PIRIÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'GURUPÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CONCÓRDIA DO PARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'IRITUIA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'OURILÂNDIA DO NORTE', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'OEIRAS DO PARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SÃO DOMINGOS DO CAPIM', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'MEDICILÂNDIA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SANTO ANTÔNIO DO TAUÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'AURORA DO PARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'MOCAJUBA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'TRACUATEUA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'PONTA DE PEDRAS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'PLACAS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'BAGRE', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'MÃE DO RIO', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'PRAINHA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'MARACANÃ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'ANAJÁS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'BUJARU', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'LIMOEIRO DO AJURU', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'MARAPANIM', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'MELGAÇO', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'ÁGUA AZUL DO NORTE', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'ANAPU', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SÃO SEBASTIÃO DA BOA VISTA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'GARRAFÃO DO NORTE', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'NOVO PROGRESSO', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SÃO DOMINGOS DO ARAGUAIA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SOURE', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SÃO GERALDO DO ARAGUAIA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SANTA MARIA DO PARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CHAVES', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CACHOEIRA DO ARARI', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SALVATERRA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SÃO JOÃO DE PIRABAS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'NOVA ESPERANÇA DO PIRIÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SANTA MARIA DAS BARREIRAS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SANTA BÁRBARA DO PARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'FLORESTA DO ARAGUAIA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SANTA LUZIA DO PARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'TRAIRÃO', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'TERRA SANTA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'RIO MARIA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SÃO CAETANO DE ODIVELAS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'CURIONÓPOLIS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'OURÉM', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'BELTERRA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'BOM JESUS DO TOCANTINS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'NOVA IPIXUNA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'AVEIRO', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'BONITO', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'MOJUÍ DOS CAMPOS', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'SÃO FRANCISCO DO PARÁ', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'NOVA TIMBOTEUA', 'Municipio'] = 'PEQUENO'
dataset.loc[dataset['Municipio'] == 'BRASIL NOVO', 'Municipio'] = 'PEQUENO'

dataset.loc[dataset['Municipio'] == 'VITÓRIA DO XINGU', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'CURUÁ', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'SÃO JOÃO DO ARAGUAIA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'QUATIPURU', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'CUMARU DO NORTE', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'PIÇARRA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'COLARES', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'SENADOR JOSÉ PORFÍRIO', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'TERRA ALTA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'INHANGAPI', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'PRIMAVERA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'SANTA CRUZ DO ARARI', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'JACAREACANGA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'MAGALHÃES BARATA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'PEIXE-BOI', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'PALESTINA DO PARÁ', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'BREJO GRANDE DO ARAGUAIA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'ABEL FIGUEIREDO', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'FARO', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'SANTARÉM NOVO', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'SÃO JOÃO DA PONTA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'SAPUCAIA', 'Municipio'] = 'MINUSCULA'
dataset.loc[dataset['Municipio'] == 'BANNACH', 'Municipio'] = 'MINUSCULA'

agrupado2 = dataset.groupby(['Municipio']).size()
agrupado2

Municipio
GRANDE        1251
MEDIO         3399
MINUSCULA      650
PAU D'ARCO      53
PEQUENO       3933
dtype: int64

In [663]:
#data binding

# agrupando os partidos em 3 grupos
agrupado3 = dataset.groupby(['Partido']).size()
agrupado3

Partido
AVANTE           184
CIDADANIA        249
DC                56
DEM              425
MDB              995
NOVO               8
PATRIOTA         160
PC do B          189
PDT              409
PL               599
PMB               12
PMN               53
PODE             267
PP               226
PROS             244
PRTB              93
PSB              487
PSC              661
PSD              782
PSDB             653
PSL              102
PSOL             105
PSTU               1
PT               854
PTB              571
PTC               40
PV               202
REDE              25
REPUBLICANOS     463
SOLIDARIEDADE    169
UP                 2
dtype: int64

In [664]:
dataset.loc[dataset['Partido'] == 'MDB', 'Partido'] = 'GRANDE'
dataset.loc[dataset['Partido'] == 'PT', 'Partido'] = 'GRANDE'
dataset.loc[dataset['Partido'] == 'PSDB', 'Partido'] = 'GRANDE'
dataset.loc[dataset['Partido'] == 'PP', 'Partido'] = 'GRANDE'
dataset.loc[dataset['Partido'] == 'PDT', 'Partido'] = 'GRANDE'
dataset.loc[dataset['Partido'] == 'PTB', 'Partido'] = 'GRANDE'
dataset.loc[dataset['Partido'] == 'DEM', 'Partido'] = 'GRANDE'

dataset.loc[dataset['Partido'] == 'PL', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PSB', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'REPUBLICANOS', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'CIDADANIA', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PSC', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PODE', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PC do B', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PSD', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PV', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PATRIOTA', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'SOLIDARIEDADE', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PSOL', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'AVANTE', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PMN', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PTC', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'DC', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PRTB', 'Partido'] = 'MEDIO'
dataset.loc[dataset['Partido'] == 'PROS', 'Partido'] = 'MEDIO'

dataset.loc[dataset['Partido'] == 'PSL', 'Partido'] = 'PEQUENO'
dataset.loc[dataset['Partido'] == 'PMB', 'Partido'] = 'PEQUENO'
dataset.loc[dataset['Partido'] == 'NOVO', 'Partido'] = 'PEQUENO'
dataset.loc[dataset['Partido'] == 'REDE', 'Partido'] = 'PEQUENO'
dataset.loc[dataset['Partido'] == 'PSTU', 'Partido'] = 'PEQUENO'
dataset.loc[dataset['Partido'] == 'PCB', 'Partido'] = 'PEQUENO'
dataset.loc[dataset['Partido'] == 'PCO', 'Partido'] = 'PEQUENO'
dataset.loc[dataset['Partido'] == 'UP', 'Partido'] = 'PEQUENO'

agrupado3 = dataset.groupby(['Partido']).size()
agrupado3

Partido
GRANDE     4133
MEDIO      5003
PEQUENO     150
dtype: int64

In [665]:
#data binding

# agrupando a classe em 3 grupos
agrupado4 = dataset.groupby(['Situacao']).size()
agrupado4

Situacao
ELEITO POR MÉDIA     500
ELEITO POR QP        811
NÃO ELEITO          2020
SUPLENTE            5955
dtype: int64

In [666]:
dataset.loc[dataset['Situacao'] == 'ELEITO ', 'Situacao'] = 'ELEITO '
dataset.loc[dataset['Situacao'] == 'ELEITO POR MÉDIA', 'Situacao'] = 'ELEITO'
dataset.loc[dataset['Situacao'] == 'ELEITO POR QP', 'Situacao'] = 'ELEITO'
dataset.loc[dataset['Situacao'] == 'NÃO ELEITO', 'Situacao'] = 'NÃO ELEITO'
dataset.loc[dataset['Situacao'] == 'SUPLENTE', 'Situacao'] = 'NÃO ELEITO'

agrupado4 = dataset.groupby(['Situacao']).size()
agrupado4

Situacao
ELEITO        1311
NÃO ELEITO    7975
dtype: int64

In [667]:
dataset.head(1)

,Municipio,Cargo,Tipo_Agremiacao,Partido,UF_Nascimento,Idade_Posse,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Reeleicao,Declar_Bens,Valor_Total_Declarado,Situacao
0,PEQUENO,VEREADOR,PARTIDO ISOLADO,GRANDE,PA,39,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,N,S,3565.85,NÃO ELEITO

In [668]:
# labelencoder

# transformando as variáveis categóricas em fator

labelencoder1 = LabelEncoder()
dataset['Cargo'] = labelencoder1.fit_transform(dataset['Cargo'])
dataset['Tipo_Agremiacao'] = labelencoder1.fit_transform(dataset['Tipo_Agremiacao'])
dataset['Genero'] = labelencoder1.fit_transform(dataset['Genero'])
dataset['Grau_Instrucao'] = labelencoder1.fit_transform(dataset['Grau_Instrucao'])
dataset['Estado_Civil'] = labelencoder1.fit_transform(dataset['Estado_Civil'])
dataset['Declar_Racial'] = labelencoder1.fit_transform(dataset['Declar_Racial'])
dataset['Reeleicao'] = labelencoder1.fit_transform(dataset['Reeleicao'])
dataset['Declar_Bens'] = labelencoder1.fit_transform(dataset['Declar_Bens'])
dataset['Municipio'] = labelencoder1.fit_transform(dataset['Municipio'])
dataset['Cargo'] = labelencoder1.fit_transform(dataset['Cargo'])
dataset['Partido'] = labelencoder1.fit_transform(dataset['Partido'])
dataset['UF_Nascimento'] = labelencoder1.fit_transform(dataset['UF_Nascimento'])

dataset

,Municipio,Cargo,Tipo_Agremiacao,Partido,UF_Nascimento,Idade_Posse,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Reeleicao,Declar_Bens,Valor_Total_Declarado,Situacao
0,4,0,0,0,1,39,1,5,0,3,0,1,3565.85,NÃO ELEITO
1,4,0,0,1,1,27,0,2,0,1,0,1,6006.70,NÃO ELEITO
2,4,0,0,0,2,57,1,2,3,4,0,1,3520.00,NÃO ELEITO
3,0,0,0,1,2,44,0,2,0,3,0,1,300.00,NÃO ELEITO
4,4,0,0,0,1,38,1,2,3,3,0,1,800.00,NÃO ELEITO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9281,4,0,0,1,1,57,0,5,0,1,0,1,1200.00,NÃO ELEITO
9282,4,0,0,1,1,48,1,2,3,3,0,1,300.90,ELEITO
9283,4,0,0,0,1,34,1,2,3,3,0,1,120.00,ELEITO
9284,1,0,0,0,1,53,1,1,0,4,0,1,830.00,NÃO ELEITO
9285,4,0,0,0,1,36,1,2,3,3,0,1,1709.75,NÃO ELEITO

In [669]:
#padronização Z-score
#gera objeto numpy
sc = StandardScaler()
m = sc.fit_transform( dataset.iloc[:,12:13])
m

array([[ 0.0588544 ],
       [ 0.39425228],
       [ 0.05255414],
       ...,
       [-0.41464081],
       [-0.31707951],
       [-0.19619282]])

In [670]:
n = sc.fit_transform( dataset.iloc[:,5:6])
n

array([[-0.42972775],
       [-1.56858244],
       [ 1.27855428],
       ...,
       [-0.90425054],
       [ 0.89893605],
       [-0.71444142]])

In [671]:
dataset = dataset.drop('Valor_Total_Declarado', axis=1)
dataset = dataset.drop('Idade_Posse', axis=1)
dataset

,Municipio,Cargo,Tipo_Agremiacao,Partido,UF_Nascimento,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Reeleicao,Declar_Bens,Situacao
0,4,0,0,0,1,1,5,0,3,0,1,NÃO ELEITO
1,4,0,0,1,1,0,2,0,1,0,1,NÃO ELEITO
2,4,0,0,0,2,1,2,3,4,0,1,NÃO ELEITO
3,0,0,0,1,2,0,2,0,3,0,1,NÃO ELEITO
4,4,0,0,0,1,1,2,3,3,0,1,NÃO ELEITO
...,...,...,...,...,...,...,...,...,...,...,...,...
9281,4,0,0,1,1,0,5,0,1,0,1,NÃO ELEITO
9282,4,0,0,1,1,1,2,3,3,0,1,ELEITO
9283,4,0,0,0,1,1,2,3,3,0,1,ELEITO
9284,1,0,0,0,1,1,1,0,4,0,1,NÃO ELEITO
9285,4,0,0,0,1,1,2,3,3,0,1,NÃO ELEITO

In [672]:
m = pd.DataFrame(m, columns=['Valor_Total_Declarado'])
m

      Valor_Total_Declarado
0                  0.058854
1                  0.394252
2                  0.052554
3                 -0.389907
4                 -0.321202
...                     ...
9281              -0.266238
9282              -0.389783
9283              -0.414641
9284              -0.317080
9285              -0.196193

[9286 rows x 1 columns]

In [673]:
n = pd.DataFrame(n, columns=['Idade_Posse'])
n

      Idade_Posse
0       -0.429728
1       -1.568582
2        1.278554
3        0.044795
4       -0.524632
...           ...
9281     1.278554
9282     0.424413
9283    -0.904251
9284     0.898936
9285    -0.714441

[9286 rows x 1 columns]

In [674]:
#concatena os dados
dataset = pd.concat([m, n,dataset], axis=1)
dataset

,Valor_Total_Declarado,Idade_Posse,Municipio,Cargo,Tipo_Agremiacao,Partido,UF_Nascimento,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Reeleicao,Declar_Bens,Situacao
0,0.058854,-0.429728,4,0,0,0,1,1,5,0,3,0,1,NÃO ELEITO
1,0.394252,-1.568582,4,0,0,1,1,0,2,0,1,0,1,NÃO ELEITO
2,0.052554,1.278554,4,0,0,0,2,1,2,3,4,0,1,NÃO ELEITO
3,-0.389907,0.044795,0,0,0,1,2,0,2,0,3,0,1,NÃO ELEITO
4,-0.321202,-0.524632,4,0,0,0,1,1,2,3,3,0,1,NÃO ELEITO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9281,-0.266238,1.278554,4,0,0,1,1,0,5,0,1,0,1,NÃO ELEITO
9282,-0.389783,0.424413,4,0,0,1,1,1,2,3,3,0,1,ELEITO
9283,-0.414641,-0.904251,4,0,0,0,1,1,2,3,3,0,1,ELEITO
9284,-0.317080,0.898936,1,0,0,0,1,1,1,0,4,0,1,NÃO ELEITO
9285,-0.196193,-0.714441,4,0,0,0,1,1,2,3,3,0,1,NÃO ELEITO

In [675]:
dataset.describe()

,Valor_Total_Declarado,Idade_Posse,Municipio,Cargo,Tipo_Agremiacao,Partido,UF_Nascimento,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Reeleicao,Declar_Bens
count,9.286000e+03,9.286000e+03,9286.000000,9286.0,9286.0,9286.000000,9286.000000,9286.000000,9286.000000,9286.000000,9286.000000,9286.000000,9286.000000
mean,-6.026959e-17,-1.021152e-15,2.217316,0.0,0.0,0.571075,1.232608,0.671118,2.662072,1.631596,2.734224,0.050722,0.888973
std,1.000054e+00,1.000054e+00,1.599322,0.0,0.0,0.526579,0.422772,0.469832,1.798329,1.471491,0.946158,0.219440,0.314183
min,-4.310339e-01,-2.422723e+00,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-3.477220e-01,-7.144414e-01,1.000000,0.0,0.0,0.000000,1.000000,0.000000,2.000000,0.000000,3.000000,0.000000,1.000000
50%,-2.327096e-01,-5.010952e-02,1.000000,0.0,0.0,1.000000,1.000000,1.000000,2.000000,3.000000,3.000000,0.000000,1.000000
75%,-3.488176e-04,6.142224e-01,4.000000,0.0,0.0,1.000000,1.000000,1.000000,5.000000,3.000000,3.000000,0.000000,1.000000
max,2.118303e+01,4.505309e+00,4.000000,0.0,0.0,2.000000,2.000000,1.000000,6.000000,4.000000,5.000000,1.000000,1.000000

In [676]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9286 entries, 0 to 9285
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Valor_Total_Declarado  9286 non-null   float64
 1   Idade_Posse            9286 non-null   float64
 2   Municipio              9286 non-null   int32
 3   Cargo                  9286 non-null   int64
 4   Tipo_Agremiacao        9286 non-null   int32
 5   Partido                9286 non-null   int32
 6   UF_Nascimento          9286 non-null   int32
 7   Genero                 9286 non-null   int32
 8   Grau_Instrucao         9286 non-null   int32
 9   Estado_Civil           9286 non-null   int32
 10  Declar_Racial          9286 non-null   int32
 11  Reeleicao              9286 non-null   int32
 12  Declar_Bens            9286 non-null   int32
 13  Situacao               9286 non-null   object
dtypes: float64(2), int32(10), int64(1), object(1)
memory usage: 653.0+ KB

In [677]:
dataset['Situacao'] = labelencoder1.fit_transform(dataset['Situacao'])

In [678]:
# Separar dados em variáveis preditoras e variável alvo

#separamos x de y
y = dataset['Situacao']
X = dataset.iloc[:,0:13]
X

,Valor_Total_Declarado,Idade_Posse,Municipio,Cargo,Tipo_Agremiacao,Partido,UF_Nascimento,Genero,Grau_Instrucao,Estado_Civil,Declar_Racial,Reeleicao,Declar_Bens
0,0.058854,-0.429728,4,0,0,0,1,1,5,0,3,0,1
1,0.394252,-1.568582,4,0,0,1,1,0,2,0,1,0,1
2,0.052554,1.278554,4,0,0,0,2,1,2,3,4,0,1
3,-0.389907,0.044795,0,0,0,1,2,0,2,0,3,0,1
4,-0.321202,-0.524632,4,0,0,0,1,1,2,3,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9281,-0.266238,1.278554,4,0,0,1,1,0,5,0,1,0,1
9282,-0.389783,0.424413,4,0,0,1,1,1,2,3,3,0,1
9283,-0.414641,-0.904251,4,0,0,0,1,1,2,3,3,0,1
9284,-0.317080,0.898936,1,0,0,0,1,1,1,0,4,0,1
9285,-0.196193,-0.714441,4,0,0,0,1,1,2,3,3,0,1

In [679]:
# Separar dados em treino e teste

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state = 0)

# MODELAGEM

In [680]:
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [681]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_test, y_test) * 100, 2)
acc_log

86.93

In [682]:
# Support Vector Machines

svc = SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_test, y_test) * 100, 2)
acc_svc

86.43

In [683]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_test, y_test) * 100, 2)
acc_knn

84.17

In [684]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_test, y_test) * 100, 2)
acc_gaussian

86.86

In [685]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_test, y_test) * 100, 2)
acc_perceptron

69.56

In [686]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_test, y_test) * 100, 2)
acc_linear_svc

C:\Users\Vanessa\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

87.04

In [687]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_test, y_test) * 100, 2)
acc_sgd

86.5

In [688]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_test, y_test) * 100, 2)
acc_decision_tree

80.47

In [689]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_test, y_test) * 100, 2)
acc_random_forest

86.58

In [690]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
7                  Linear SVC  87.04
2         Logistic Regression  86.93
4                 Naive Bayes  86.86
3               Random Forest  86.58
6  Stochastic Gradient Decent  86.50
0     Support Vector Machines  86.43
1                         KNN  84.17
8               Decision Tree  80.47
5                  Perceptron  69.56

In [691]:
# Balanceamento das classes

import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTENC

In [692]:
np.bincount(y)

array([1311, 7975], dtype=int64)

In [693]:
sm = SMOTENC(random_state=42, categorical_features=[0,1])
X, y= sm.fit_resample(X, y)

In [694]:
np.bincount(y)

array([7975, 7975], dtype=int64)

In [695]:
# Separar dados em treino e teste

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state = 0)

In [696]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_test, y_test) * 100, 2)
acc_log

67.15

In [697]:
# Support Vector Machines

svc = SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_test, y_test) * 100, 2)
acc_svc

71.26

In [698]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_test, y_test) * 100, 2)
acc_knn

76.55

In [699]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_test, y_test) * 100, 2)
acc_gaussian

63.01

In [700]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_test, y_test) * 100, 2)
acc_perceptron

52.6

In [701]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_test, y_test) * 100, 2)
acc_linear_svc

C:\Users\Vanessa\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

66.39

In [702]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_test, y_test) * 100, 2)
acc_sgd

61.71

In [703]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_test, y_test) * 100, 2)
acc_sgd

66.48

In [704]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_test, y_test) * 100, 2)
acc_decision_tree

79.71

In [705]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_test, y_test) * 100, 2)
acc_random_forest

83.91

In [706]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
3               Random Forest  83.91
8               Decision Tree  79.71
1                         KNN  76.55
0     Support Vector Machines  71.26
2         Logistic Regression  67.15
6  Stochastic Gradient Decent  66.48
7                  Linear SVC  66.39
4                 Naive Bayes  63.01
5                  Perceptron  52.60

In [707]:
# Selecionar melhores atributos

import eli5
from eli5 import show_prediction

In [708]:
eli5.show_weights(random_forest, feature_names = list(dataset)[0:13])

In [709]:
X_train2 = X[['Valor_Total_Declarado','Idade_Posse']]
X_test2 = X[['Valor_Total_Declarado','Idade_Posse']]

In [710]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_test, y_test) * 100, 2)
acc_random_forest

83.66

In [711]:
X_train3 = X[['Valor_Total_Declarado']]
X_test3 = X[['Valor_Total_Declarado']]

In [712]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_test, y_test) * 100, 2)
acc_random_forest

83.76